# dependencies
/node_modules
/.pnpm
/.yarn

# next.js build output
/.next/
/out/

# production & environment files
.env
.env*.local

# database
/prisma/dev.db
/prisma/dev.db-journal

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db
